.root {
  pointer-events: none;

  position: absolute;
  inset: auto 0 0 0;

  overflow: hidden;

  height: 0.5rem;
}

.line {
  --translate-y: 0.125rem;

  pointer-events: all;
  cursor: var(--custom-cursor, pointer);

  position: absolute;
  inset-inline: var(--seek-line-inset, 0);
  bottom: 0;
  transform: translateY(var(--translate-y));

  height: 0.25rem;
  border-radius: 50vh;

  transition: transform 0.15s ease-out;

  &::before {
    content: "";

    position: absolute;
    inset-inline: 0;
    top: -0.25rem;
    bottom: 0;
  }

  &:hover,
  &.seeking {
    --translate-y: 0;
  }

  &:hover .track,
  &.seeking .track {
    opacity: 1;
  }
}

.centered {
  inset: 0;
  overflow: visible;
  height: auto;

  .line {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }

  .track {
    opacity: 1;
  }
}

.clip {
  position: absolute;
  inset: 0;
  overflow: hidden;
  border-radius: inherit;
}

.track {
  position: absolute;
  inset: 0;

  opacity: 0;
  background-color: var(--color-borders);

  transition: opacity 0.2s ease-in-out;
}

.fill {
  position: absolute;
  inset: 0;
  transform-origin: left center;
  transform: scaleX(0);

  background-color: var(--color-primary);
}

.thumb {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);

  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;

  background-color: var(--color-primary);
}
